<div>
	<form id="datehairform" action="/appointments/service" method="POST">
		<select id="hairdressersdrop" name="hairdressersdrop">
			{{#each hairdressers}}
				<option value="{{this.id}}" class="hairdresser-option">{{this.name}}</option>
			{{/each}}
		</select>

		<div id="flatpickr">
			<label for="datetime">Enter a Date: </label>
			<input type="text" placeholder="Select Date and Time..." class="flatpicker-datetime" name="datetime" id="datetime">
			<button id="submitbutton" type="submit">Select Date</button>
		</div>
	</form>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="/public/js/calendar.js"></script>

</div>