* {
  font-family: 'Helvetica Neue Thin', Arial, Helvetica, sans-serif;
}

table,
th,
td {
  border: 1px solid #ed5a58;
}
td {
  text-align: center;
}
#redirect {
  display: inline;
}
.appointment {
  margin-top: 3px;
  border: 3px solid rgb(44, 108, 44);
  width: 50%;
}
